{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %} {#유저가 로그인한 상태라면 #}
        <div class="container">
            <h1>
            새로운 글 작성하기
            </h1>
            <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <div class="form-group">
                    <label>글 제목</label>
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label>글 내용</label>
                    <textarea class="form-control" name="content"></textarea>
                </div>
                <input type="file" name="image" accept="image/*"> -->
                <input type="submit" value="글 작성" class="btn btn-outline-primary">
            </form>
        </div>
    {% else %}
        <h3> 로그인 후 이용이 가능합니다.</h3>
        <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
        <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
    {% endif %}
{% endblock %}